{% extends 'base.html.twig' %}
{% block body %}
    {% include 'partials/header.html.twig' %}
        <div id="huidigaanbod">
            <img src="{{ asset('images/pexels-photo-237018.jpeg') }}" class="header-foto2" alt="">
            <div class="huidigaanbod-box container">
                <div class="block col-md-12">
                    <div class="head">
                        <h2>Campers & Caravans</h2>
                        <p>Hier bij de Dissel hebben wij een exclusief aantal campers en caravans te huur.<br>
                            Hier onder ziet u al onze te huren campers en caravans, we hebben voor iedereen wel wat moois staan.<br>
                            Of u nou een leuke knussen caravan wilt om lekker dat echte kampeer gevoel te krijgen, of een hele luxe camper met alles er op en er aan, wij hebben het voor u!</p>
                    </div>
                </div>
                <div class="huidigaanbod-content">
                    <div class="block row aanbod">
                        {% for object in objecten %}
                            <div class="col-sm-4">
                                <div style="background-color: #BA5359;">
                                    <h2 style="font-family: europa; text-align: center; line-height: 45px;">{{ object.objNaam }}</h2>
                                    <div class="fotos">
                                        {% for foto in object.fotos %}
                                            <img class="item-photo" src="/uploads/images/{{ foto }}" alt="">
                                        {% endfor %}    
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <ul class="pager">
                    <li><a href="#" class="vorige">Vorige</a></li>
                    <li><a href="#" class="volgende">Volgende</a></li>
                </ul>
            </div>
        </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}