{% extends 'base.html.twig' %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div id="content">
    <div class="content-box container">
        <div class="row">
            <div class="col-md-4">
                <h4 style="font-family: europa; text-align: center;">Uw geselecteerde items:</h4>
                <table class="table">
                    <tbody>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
</div>
{% include 'partials/footer.html.twig' %}
{% endblock %}