{% extends 'base.html.twig' %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div id="content">
    <div class="content-box">
        <h1>Bedankt voor het plaatsen van uw bestelling</h1>
        <h4>Uw ontvangt dadelijk een e-mail met verdere betaal-informatie.</h4>
    </div>
</div>
{% include 'partials/footer.html.twig' %}
{% endblock %}