{% extends 'base.html.twig' %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div id="content">
    <div class="content-box container">
        <h1 style="font-family: europa;">Bedankt voor het plaatsen van uw bestelling</h1>
        <h4 style="font-family: proxima-nova;">
            Als uw verder weer inzicht wil hebben in uw bestelling, dan kan dat door in te loggen en naar uw bestellingen te gaan onder 'Mijn account'.<br>
            <br>
            Met vriendelijke groet,
            de dissel
        </h4>
    </div>
</div>
{% include 'partials/footer.html.twig' %}
{% endblock %}