{% extends 'base.html.twig' %}
{% block body %}
    {% include 'partials/header.html.twig' %}
    <div id="content">
        <div class="content-box container">

        </div>
    </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}